{% extends 'base.html' %}
{% block head %}

<div class="container bg-dark" style="padding: 30px;">
    <div class="img" style="width: 200px; height:200px; border-radius:50%; overflow:hidden;">
        <img src="{{url_for('static', filename=pic)}}" alt="" width="100%" height="100%">

    </div>
    <h1 class="h1 mb-2 text-light text-center">{{name}}</h1>
    <a href="/editp" class="btn btn-primary"><i class="fas fa-pen"></i> Edit Profile</a>
</div>
<div class="container my-4">
    <h3>Email: {{email}}</h3>
    <h5>Joined on {{q.date}}</h5>
</div>
<hr>
<h2>Posts</h2>
<!-- <hr> -->
{% if postss %}
<div class="container" id="contents">
    {% for posts in postss %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"><a href="/view/{{posts.user}}">{{posts.user}}</a></h6>
        </div>
        <div class="card-body">
            <p>{{posts.body|safe}}</p>
            <hr>
            <center><img src="{{url_for('static', filename='upload/'+posts.file)}}" alt="" width="80%"
                    style="padding: 10px; border-radius:20px;"></center>
        </div>
        <div class="card-footer py-3">
            <small class="m-0 font-weight-bold text-primary">{{posts.date}}</small>
        </div>
    </div>

    {% endfor %}
</div>
</div>




{% else %}
<!-- <h1 class="h3 mb-2 text-gray-800">Follow someone</h1> -->
<p class="mb-4">You don't have any posts yet</p>
{% endif %}

{% block foot %}
{% endblock %}
{% endblock %}