<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.css')}}">


    <!-- Custom styles for this template-->
    <link href="{{url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
    <style>
        * {
            transition: 0.5s ease;
        }

        .meowww {
            max-width: 200px;
            overflow-wrap: break-word;
            padding: 20px;
            margin: 20px;
            color: white;
            border-top-left-radius: 10px 10px !important;
            background: #1cc88a !important;
        }

        .meoww {
            max-width: 200px;
            overflow-wrap: break-word;
            padding: 10px;
            margin: 10px;
            color: white;
            border-top-right-radius: 10px !important;
            background: #4e73df !important;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
                <div class="sidebar-brand-text mx-3">{{title}}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            {% if log %}
            <li class="nav-item active">
                <a class="nav-link" href="/me">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span>Me</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            {% else %}
            {% endif %}


            <!-- Heading -->
            <div class="sidebar-heading">
                Actions
            </div>
            {% if log %}
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/post">
                    <i class="fas fa-pen    "></i>
                    <span>Post</span>
                </a>

            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/friends">
                    <i class="fas fa-user-friends    "></i>
                    <span>Friends</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/notifications">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span>Notifications</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messages">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>Messages</span></a>
            </li>
            {% else %}
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/signin">
                    <i class="fas fa-pen    "></i>
                    <span>Sign In</span>
                </a>

            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/signup">
                    <i class="fas fa-pen    "></i>
                    <span>Sign Up</span></a>
            </li>
            {% endif%}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link  rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"">
                        <div class=" input-group">
                        <input type="search" class="form-control bg-light border-0 small" placeholder="Message"
                            id="message" aria-label="Search" aria-describedby="basic-addon2" name="query">
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="submit">
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
            </div>

            <!-- Topbar Navbar -->
            {% if log %}
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <div class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Message"
                                    aria-label="Search" aria-describedby="basic-addon2" id='mess'>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" id="button">
                                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">{{totaln}}</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Alerts Center
                        </h6>
                        {% for notification in notifications %}


                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">{{notification.date}}</div>
                                <span class="font-weight-bold">{{notification.message|safe}}</span>
                            </div>
                        </a>

                        {% endfor %}

                        <a class="dropdown-item text-center small text-gray-500" href="/notifications">Show All
                            Alerts</a>
                    </div>
                </li>

                <!-- Nav Item - Messages -->


                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
                        <img class="img-profile rounded-circle" src="{{url_for('static', filename=pic)}}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/me">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Me
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/signout" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>
            {% else %}
            {% endif %}
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div id="f" style="max-width: 300px;">
                    {% for message in messages %}
                    {% if message.user == me %}

                    <center>
                        <div class="meowww">
                            <p style="width: 100%;">{{message.mess}}</p>
                        </div>
                    </center>
                    {% else %}

                    <div class="bg-primary text-center text-light meoww">
                        <p style="width: 100%;">{{message.mess}}</p>
                    </div>

                    {% endif %}

                    {% endfor %}
                </div>

                <script>
                    var btn = document.getElementById('submit')
                    var messager = document.getElementById('message')
                    var but = document.getElementById('button')
                    var mess = document.getElementById('mess')
                    var sender, user, xhr, fd;

                    btn.addEventListener('click', function () {
                        value = messager.value
                        if (value != '') {
                            console.log(value)
                            sender = '{{email}}'
                            user = '{{me}}'
                            fd = new FormData();
                            xhr = new XMLHttpRequest();
                            fd.append('user', user)
                            fd.append('sender', sender)
                            fd.append('mess', value)
                            xhr.open('POST', 'http://127.0.0.1:5000/sendm')
                            xhr.send(fd)
                            xhr.addEventListener('load', function () {
                                messager.value = ''
                            })
                        }
                    })

                    but.addEventListener('click', function () {
                        value = mess.value
                        if (value != '') {
                            console.log(value)
                            sender = '{{email}}'
                            user = '{{me}}'
                            fd = new FormData();
                            xhr = new XMLHttpRequest();
                            fd.append('user', user)
                            fd.append('sender', sender)
                            fd.append('mess', value)

                            xhr.open('POST', 'http://127.0.0.1:5000/sendm')
                            xhr.send(fd)
                            xhr.addEventListener('load', function () {
                                mess.value = ''
                            })
                        }


                    })



                </script>



                <!-- Bootstrap core JavaScript-->

                <section>
                    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
                    <script
                        src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

                    <!-- Core plugin JavaScript-->
                    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

                    <!-- Custom scripts for all pages-->
                    <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

                    <!-- Page level plugins -->
                    <script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

                    <!-- Page level custom scripts -->
                    <script src="{{url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
                    <script src="{{url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>
                    <script>
                        setInterval(function () {
                            $('#f').load(' #f');
                        }, 100)
                    </script>
                </section>


</body>

</html>