{% extends 'base.html' %}
{% block head %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Post What you think!</h6>
    </div>
    <div class="card-body">
        Before you post something, you should read out our terms and conditions. If you post something against it, you
        may be blocked from this website. <br>
        <button class="btn btn-info" id="btn">Select File</button>
        <input type="file" name="" id="file" class="d-none">
        <label for="file" id="label">No File Chosen</label>
        <textarea name="" id="text" cols="30" rows="10" class="form-control my-4"></textarea>
        <button class="btn-success btn" id="post">POST</button>
    </div>
</div>
</div>
<script>
    var btn, file, text, xhr, fd, label, fileIn, filename, filetype, post;
    btn = document.getElementById('btn');
    file = document.getElementById('file');
    text = document.getElementById('text');
    label = document.getElementById('label');
    fd = new FormData();
    xhr = new XMLHttpRequest();
    post = document.getElementById('post');
    var c = false

    btn.addEventListener('click', function () {
        file.click()
    });
    file.addEventListener('change', function () {
        if (file.files[0]) {
            fileIn = file.files[0];
            filename = fileIn.name;
            filetype = filename.split('.').reverse()[0];
            label.innerHTML = filename;
            if (filename.length > 7) {
                label.innerHTML = filename.slice(0, 4) + '...' + filetype
            }
            c = true;
        }

    })
    post.addEventListener('click', function(){
        if(c){
            fd.append('file', fileIn)
            fd.append('user', '{{email}}')
            fd.append('body', text.value)
            xhr.open('POST', '/postimg')
            xhr.send(fd)
            xhr.addEventListener('load', function(){
                alert("Posted it")
                window.open('/', '_self')
            })
        }else{
            alert("no file chosen");
            location.reload()
        }
    })
</script>
{% block foot %}
{% endblock %}
{% endblock %}